<%- include('partials/header'); -%>

<h1 id="loginTitle">Login</h1>
    <form action="/login" method="POST">
        <div class="login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
        
            <button class="loginButton" type="submit">Sign In</button>
        </div>
    </form>

        <div class="elseRegister">
            <div>Non sei ancora registrato?</div>
            <a class="goToRegButton" class="nav-link" href="/register">Sign Up</a>
        </div>

<%- include('partials/footer'); -%>