<%- include('partials/header'); -%>

<h1 id="loginTitle">Register</h1>
<form action="/register" method="POST">
    <div class="login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button class="loginButton" type="submit">Sign Up</button>
    </div>
</form>

<div class="elseRegister">
    <div>Sei già registrato?</div>
    <a class="goToRegButton" class="nav-link" href="/login">Sign In</a>
</div>

    <%- include('partials/footer'); -%>